extends category

block posts
	h2
		|	Recent !{post.title} Posts
	if posts
		each catPost, i in posts
			ul.list-thumbnail
				a(href='/#{post.slug}/#{catPost.slug}')
					li.list-item-thumbnail
						img.image-responsive(src='/images/uploads/#{catPost.thumbnailImage}', alt='#{catPost.thumbnailImageAlt}')
						h3 #{catPost.title}
						p.lead #{catPost.lead}
					hr
			if adminEnabled && user
				p
				form.form.btn-inline(role='form' method='post' action='/posts/#{catPost.slug}?_method=DELETE')
					.btn-toolbar(role='group')
						a.btn.btn-success(href='/posts/editPost/#{catPost.slug}')
							span.glyphicon.glyphicon-pencil
							|	Edit
						button.btn.btn-primary.btn-danger(type="submit")
							span.glyphicon.glyphicon-trash
							|	Delete
			hr
		ul.pager
			if prevPage > 0
				li.previous
					a(href='/#{post.slug}?page=#{prevPage}&sort=-1&prevTime=#{posts[posts.length-1].created.getTime()}')
						| &larr; Older
			if nextPage > 0
				li.next
					a(href='/#{post.slug}?page=#{nextPage}&sort=1&nextTime=#{posts[0].created.getTime()}')
						| Newer &rarr;

