extends category

block posts
	h2
		|	!{category.title} Posts
	if posts
		each post, i in posts
			h3
				a(href='/#{category.slug}/#{post.slug}') #{post.title}
			p
				span.glyphicon.glyphicon-time
				|  Posted on #{post.created.toDateString().substr(4,12)}
			a(href='/#{category.slug}/#{post.slug}')
				img.img-responsive(src='/images/uploads/#{post.coverImage}', alt='')
			p.lead
				| !{post.lead}
			a.btn.btn-danger(href='/#{category.slug}/#{post.slug}')
				| Read More
				span.glyphicon.glyphicon-chevron-right
			if adminEnabled && user
				p
				form.form.btn-inline(role='form' method='post' action='/posts/#{post.slug}?_method=DELETE')
					.btn-toolbar(role='group')
						a.btn.btn-success(href='/posts/editPost/#{post.slug}')
							span.glyphicon.glyphicon-pencil
							|	Edit
						button.btn.btn-primary.btn-danger(type="submit")
							span.glyphicon.glyphicon-trash
							|	Delete
			hr
		ul.pager
			if prevPage > 0
				li.previous
					a(href='/#{category.slug}?page=#{prevPage}&sort=-1&prevTime=#{posts[posts.length-1].created.getTime()}')
						| &larr; Older
			if nextPage > 0
				li.next
					a(href='/#{category.slug}?page=#{nextPage}&sort=1&nextTime=#{posts[0].created.getTime()}')
						| Newer &rarr;

