extends layout

block content
	.panel
		h1.page-header
			| #{post.title}
		hr
		img.img-responsive(src='/images/uploads/#{post.coverImage}', alt='#{post.coverImageAlt}')
		hr
		p.lead
			| !{post.lead}
		hr
		p
			|	!{post.content}
		hr
		block posts
		if adminEnabled && user
			p
			form.form.btn-inline(role='form' method='post' action='/posts/#{post.slug}?_method=DELETE')
				.btn-toolbar(role='group')
					a.btn.btn-success(href='/posts/editPost/#{post.slug}')
						span.glyphicon.glyphicon-pencil
						|	Edit
					button.btn.btn-primary.btn-danger(type="submit")
						span.glyphicon.glyphicon-trash
						|	Delete
		hr

