extends layout

block content
	.panel
		.row
			.col-sm-3
				h2 Direct Contact
				p
					strong Location
					br
					|  Boston, MA, USA
					br
					strong Email
					br
					a(href='mailto:#{toEmail}')
						| #{toEmail}
					br
					strong Facebook
					br
					a(href='http://facebook.com/#{facebookHandle}', target='_blank')
						| #{facebookHandle}
					br
					strong Twitter
					br
					a(href='http://twitter.com/#{twitterHandle}', target='_blank')
						| @#{twitterHandle}
					br
					strong Linkedin
					br
					a(href='https://www.linkedin.com/in/#{linkedinHandle}/', target='_blank')
						| #{linkedinHandle}
					br
			.col-sm-9
				h2 Send a Message
				p
					| Required fields are marked with an asterisk
					span.required *
				#contact-messages
				form#contact-form.form(role='form', action='/contact', method='post', autocomplete='off')
					.form-group
						label(for='contactName')
							| Your Name
							span.required  *
						input#contactName.form-control(type='text', name='contactName', placeholder='Enter Name', required)
					.form-group
						label(for='contactEmail')
							| Your Email
							span.required  *
						input#contactEmail.form-control(type='email', name='contactEmail', placeholder='Enter Email', required)
					.form-group
						label(for='contactMessage')
							| Message
							span.required  *
						textarea#contactMessage.form-control(name='contactMessage', rows='5', required='')
					.form-group
						#g-recpatcha.g-recaptcha(data-sitekey='6LdOGhQTAAAAANGibkeOZeQQUWVly-ehYSgfdmGW')
					input#submit.btn.btn-danger.pull-left(type='submit', name='submit', value='Send')
	script(src='https://www.google.com/recaptcha/api.js')

