extends layout

block content
	h1 Edit Post
	p Please register with the form below
	form(method='post', action='/posts/#{post.slug}?_method=PUT', enctype='multipart/form-data')
		input.form-control.hidden(type='text', name='_id', hidden='true', value='#{post._id}')
		.form-group
			label Title
			.row
				.col-sm-9
					input.form-control(name='title', type='text', value='#{post.title}',required)
		.form-group
			label Category
			.row
				.col-sm-5
					select.form-control(name='category', required)
						option(value='' selected disabled) Select Category
						each category, i in categories
							option(value='#{category.name}', selected=(category.name === post.category)) #{category.name}
		.form-group
			label Category Home Page
			.radio
				label
					input(type='radio', name='homePage', value='false', checked=(post.homePage === false))
					| No
			.radio
				label
					input(type='radio', name='homePage', value='true', checked=(post.homePage === true))
					| Yes
		.form-group
			label Lead
			textarea.form-control(id='lead', name='lead', value='#{post.lead}', required)
				| #{post.lead}
		.form-group
			label Description
			textarea.form-control(id='description', name='description', value='#{post.description}', required)
				| #{post.description}
		.form-group
			label Content
			textarea.form-control(id='content', name='content', required)
				| #{post.content}
		.form-group
			label Cover Image (current value: #{post.coverImage})
			input.form-control(name='coverImage', type='file')
		.form-group
			label Cover Image Alt
			.row
				.col-sm-9
					input.form-control(name='coverImageAlt', type='text', value='#{post.coverImageAlt}')
		.form-group
			label Thumbnail Image (current value: #{post.thumbnailImage})
			input.form-control(name='thumbnailImage', type='file')
		.form-group
			label Thumbnail Image Alt
			.row
				.col-sm-9
					input.form-control(name='thumbnailImageAlt', type='text', value='#{post.thumbnailImageAlt}')
		input.btn.btn-default(name='submit', type='submit', value='Update')
		script(src='/ckeditor/ckeditor.js')
		script
			| CKEDITOR.replace('content');

