extends layout

block content
	.panel
		h1.page-header
			| Page Header
			small
				|	Secondary Text
		hr
		// Posts loog
		if posts
			each post, i in posts
				h2
					a(href='#') #{post.title}
				p
					span.glyphicon.glyphicon-time
					|  Posted on #{post.created.toDateString().substr(4,12)}
				img.img-responsive(src='/images/uploads/#{post.coverImage}', alt='')
				p.lead
					| !{post.lead}
				a.btn.btn-danger(href='#')
					| Read More
					span.glyphicon.glyphicon-chevron-right
				if adminEnabled && user
					p
					form.form.btn-inline(role='form' method='post' action='/posts/#{post.slug}?_method=DELETE')
						.btn-toolbar(role='group')
							a.btn.btn-success(href='/posts/editPost/#{post.slug}')
								span.glyphicon.glyphicon-pencil
								|	Edit
							button.btn.btn-primary.btn-danger(type="submit")
								span.glyphicon.glyphicon-trash
								|	Delete
				hr
			ul.pager
				if prevPage > 0
					li.previous
						a(href='/posts/paginated?page=#{prevPage}&sort=-1&prevTime=#{posts[posts.length-1].created.getTime()}')
							| &larr; Older
				if nextPage > 0
					li.next
						a(href='/posts/paginated?page=#{nextPage}&sort=1&nextTime=#{posts[0].created.getTime()}')
							| Newer &rarr;

