extends layout

block metahead
	include ./includes/meta-head.jade

block content
	.panel
		h1.page-header
			| #{post.title}
		hr
		p
			span.glyphicon.glyphicon-time
			|  Posted on #{post.created.toDateString().substr(4,12)}
		hr
		img.img-responsive(src='/images/uploads/#{post.coverImage}', alt='#{post.coverImageAlt}')
		hr
		p.lead
			| !{post.lead}
		p
			ul.list-social
				li.list-item-social.list-social-header
					strong Share this post:
				li.list-item-social
				li.list-item-social
					a(href='https://www.facebook.com/sharer.php?u={{blog.url | url_encode}}%2Fblog%2F{{post.slug | url_encode}}', target='_blank')
						i.fa-social-icon.icon-rotate.fa.fa-facebook
				li.list-item-social
					a(href='http://linkedin.com/')
						i.fa.fa-social-icon.icon-rotate.fa-linkedin
				li.list-item-social
					a(href='https://twitter.com/share?text={{post.title | url_encode }}&url={{blog.url | url_encode}}%2Fblog%2F{{post.slug | url_encode}}&via=twitterhandlenoatsign', target='_blank')
						i.fa.fa-social-icon.icon-rotate.fa-twitter
				li.list-item-social
					a(href='https://plus.google.com/share?url={{blog.url | url_encode}}%2Fblog%2F{{post.slug | url_encode}}', target='_blank')
						i.fa.fa-social-icon.icon-rotate.fa-google-plus
		hr
		p
			!{post.content}
		if adminEnabled && user
			p
			form.form.btn-inline(role='form' method='post' action='/posts/#{post.slug}?_method=DELETE')
				.btn-toolbar(role='group')
					a.btn.btn-success(href='/posts/editPost/#{post.slug}')
						span.glyphicon.glyphicon-pencil
						|	Edit
					button.btn.btn-primary.btn-danger(type="submit")
						span.glyphicon.glyphicon-trash
						|	Delete
		hr

