extends layout

block content
	.panel
		h1.page-header
			| Page Header
			small
				| Secondary Text
		// Posts loog
		if posts
			each post, i in posts
				h2
					a(href='#') #{post.title}
				p.lead
					|	by
					a(href='#') #{post.author}
				p
					span.glyphicon.glyphicon-time
					|  Posted on #{post.created}
				hr
				img.img-responsive(src='/images/uploads/#{post.coverImage}', alt='')
				hr
				p
					| !{post.content}
				a.btn.btn-primary(href='#')
					| Read More
					span.glyphicon.glyphicon-chevron-right
				if adminEnabled && user
					p
					form.form.btn-inline(role='form' method='post' action='/posts/#{post.slug}?_method=DELETE')
						.btn-toolbar(role='group')
							a.btn.btn-success(href='/posts/editPost/#{post.slug}')
								span.glyphicon.glyphicon-pencil
								|	Edit
							button.btn.btn-primary.btn-danger(type="submit")
								span.glyphicon.glyphicon-trash
								|	Delete
				hr

